/*** default browser style reset***/
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
blockquote,
ul,
dl,
dd {
  margin: 0;
}

p {
  margin: 1rem 0;
}

/* body */
body {
  box-sizing: border-box;
  border: 0;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* links */
a {
  color: #0081A7;
  text-decoration: none;
}

a:hover {
  color: #F07167;
}


/*** main container ***/
.container {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-column-gap: 0;
  grid-row-gap: 4rem;
  min-height: 100vh;
}

/* main content wrapper */
.content {
  grid-column: col-start 2 / 12;
}

/* section header */
.section_title {
  margin: 1.2rem auto;
  width: auto;
}

/* section header - text styling*/
.section_title h1 {
  color: #D5F3FD;
  font-size: 16vw;
  font-weight: 900;
  text-align: center;
}


/*** nabvar ***/
.navbar {
  background: #0081A7;
  overflow: hidden;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* navbar icons */
.home-icon {
  margin: 0 2rem 0 0;
  padding: 1rem;
}

.toggle-icon {
  color: white;
  cursor: pointer;
  display: none;
}

/* navbar links */
.menu-items {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-item a:hover {
  background: #F07167;
  color: #f2f2f2;
}

.nav-link {
  color: #f2f2f2;
  font-size: 1.4rem;
  text-decoration: none;
}


/*** 
intro section 
***/
.intro {
  grid-column: col-start 2 / 12;
  grid-row: row-start 4 / 7;
}

/* intro header */
.title h1 {
  font-size: 4.5rem;
  font-weight: 600;
  margin: 0.8rem 0;
}

.name {
  color: #F07167;
  font-weight: 300;
}

/* intro content */
.intro-content {
  display: flex;
  font-size: 2.5rem;
  font-weight: 300;
  margin: 1rem 3rem;
}

.subheading {
  align-self: flex-start;
}

.contactIcons img {
  height: 3rem;
  width: auto;
  padding: 1rem;
}

.arrow {
  margin: 2.2rem 0 0 1rem;
}

.arrow img {
  height: auto;
  width: auto;
  aspect-ratio: attr(width) / attr(height);
}

/*** 
about me section
***/

.main-content {
  display: flex;
  flex-direction: row;
}

.story_img {
  border-radius: 50%;
  height: auto;
  width: 200px;
  aspect-ratio: attr(width) / attr(height);
  margin: 0 1rem 1rem;
}

/* tabs */
.tab-wrapper {
  margin: 0 0.7rem;
}

.tabs {
  margin: 0.1rem 0;
}

.tab-button {
  border: 0;
  cursor: pointer;
  transition: 0.5s;
  background-color: #FED9B7;
  color: #F07167;
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin: 0 0.1rem 0 0;
  padding: 1rem;
  box-shadow: 0px 0px 3px 2px #E3F7FD;
}

.tab-button:hover {
  background-color: #F07167;
  color: #FFFFFF;
}

.tab-button.active {
  background-color: #D5F3FD;
  margin: 0 0.1rem 0 0;
}

.active {
  background-color: white;
}

.tab-content {
  display: none;
  list-style: inside;
  padding: 2rem;
  color: #F07167;
  font-size: 1.4rem;
}

.tab-content.active {
  display: block;
}

.tab-content>ul>li {
  font-size: 1.1rem;
  padding: 0 0.5rem;
}

.tab-content>ul {
  padding: 0rem;
}

.tab-content>ul>h6 {
  padding: 0.5rem 0;
}

/* article wrapper */
.storybox {
  background: #FFFFFF;
  box-shadow: 0px 1px 4px 1px #0081A7;
  width: 63vw;
}


/*** 
skills section 
***/
.skills-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  width: 60vw;
}

.skill_title {
  color: #0081A7;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: right;
  margin: 0 2rem;
  width: 12vw;
}

.skill img {
  height: auto;
  width: 10vh;
  padding: 1rem;
}


/*** 
projects section 
***/
.projects_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}

/* project card */
.project {
  border: solid 1px;
  border-image: linear-gradient(297.57deg, #0081A7 2.73%, #D5F3FD 98.45%) 20%;
  box-shadow: 0px 1px 10px 1px #E3F7FD;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  width: 25vw;
}

.project-top {
  margin: 0 0 2rem 0;
}

.project-img {
  height: 22vh;
  width: 100%;
  background: #F0F0F0;
  object-fit: contain;
  overflow: hidden;
  text-align: center;
}

.project-img img {
  height: 22vh;
  width: auto;
}

.project-info {
  color: #F07167;
  font-size: 1.4rem;
  padding: 0 2rem;
}

.project-info h4 {
  color: #0081A7;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 1rem 0;
}

.project-info ul {
  padding: 0 2rem;
}

.project-buttons {
  margin: 1rem 0 0;
}


/*** 
contact section 
***/
.contacts_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact_form_wrapper {
  margin: 2rem;
}

.contact_title {
  color: #0081A7;
  font-size: 1.4rem;
}

.php_formStatus {
  color: #F07167;
  font-size: 1.5rem;
}

/* form container */
.contactbox {
  background: #FFFFFF;
  box-shadow: 0px 1px 4px 1px #0081A7;
  color: #F07167;
  margin: 0 auto;
  padding: 4vh 1.5vw 1.5vh 1.5vw;
  width: 60vw;
}

/* form styling */
form {
  display: grid;
  gap: 1rem 0;
  grid-template-columns: 2fr 6fr 3fr;
  grid-template-rows: 1fr 1fr 1fr 3fr 1fr;
}

input,
textarea {
  background: #F0F0F0;
  border-radius: 5px;
  border: solid 1px #E3F7FD;
  font: inherit;
  resize: none;
  margin: 0 1rem;
}

textarea {
  white-space: pre-line;
}

input:valid {
  border: solid 2px #FED9B7;
}

input:focus,
textarea:focus {
  background: #D5F3FD;
  border: solid 1px #0081A7;
  outline: none;
}

label {
  align-self: center;
  font-size: 1.4rem;
}

/* submit button */
.form_button {
  grid-row: 5/5;
  grid-column: 2/2;
  align-self: center;
  justify-self: center;
  width: auto;
  border-radius: 5px;
}

/* container for JavaScript form validation status */
.formCheck {
  display: flex;
  flex-direction: row;
}

/* validation icons */
.failed,
.passed {
  padding: 0.2rem;
  height: auto;
  width: 1.5vw;
  position: absolute;
  display: none;
}

.errorMessage {
  padding: 2rem;
}


/*** 
responsive behaviour 
***/

/*** tablets ***/
@media screen and (max-width: 992px) {
  /* section header*/
  .section_title {
    margin: 2rem auto 1rem;
    width: auto;
  }

  /** intro section **/
  .intro {
    grid-column: col-start 2 / 12;
  }

  .intro-content {
    flex-direction: column-reverse;
    margin: 0;
  }

  .arrow {
    margin: 1rem auto 0;
  }

    /** about me section **/
  .main-content {
    flex-direction: column;
    align-items: center;
  }

  .tabs {
    display: flex;
    justify-content: center;
  }

      /** skills section **/
  .skill {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .skill_title {
    background-color: #E3F7FD;
    font-size: 2.3rem;
    margin: 0 0 1rem 0;
    text-align: center;
    width: 95%;
  }

  .skill img {
    padding: 1rem;
  }

      /** projects section **/
  .projects_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
  }

  .project {
    width: 70vw;
  }

      /** contact section **/
  .contactbox {
    padding: 4vh 1.5vw 1.5vh 1.5vw;
    width: 60vw;
  }

  .failed,
  .passed {
    width: 3vw;
  }

}

/*** mobile ***/
@media screen and (max-width: 450px) {

      /** navigation - toggle menu **/
  .navbar {
    display: flex;
    flex-direction: column;
  }

  .nav_home {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .toggle-icon {
    display: block;
  }

  .menu-items {
    display: none;
  }

  .menu_links {
    display: none;
  }

  .menu-items.responsive {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .menu_links.responsive {
    display: flex;
    flex-direction: column;
  }

        /** main content wrapper **/
  .content {
    grid-column: col-start 2 / 12;
  }

        /** intro section **/
  .intro {
    grid-column: col-start 2 / 11;
  }

  .contactIcons {
    margin: 0;
    text-align: center;
  }

  .arrow img {
    height: 30vh;
    width: auto;
    aspect-ratio: attr(width) / attr(height);
  }


        /** about me section **/
  .storybox {
    width: 80vw;
  }

  .tab-button {
    border: none;
    font-size: 1.1rem;
    padding: 0.8rem;
  }

        /** contact section **/
  .contactbox {
    padding: 1.5vw;
    width: 72vw;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  input,
  textarea {
    width: 60vw;
  }

  .formCheck {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .failed,
  .passed {
    position: static;
    width: 5vw;
  }

  .errorMessage {
    padding: 0.4rem 0 1rem;
  }

}